.vscode

__pycache__/
.credentials/
.credentials.bak/

client_secret.json
client_secret_*.json

# Env files
.env
.env.test
.env.dev

playground.py

# Spec files
*.spec

# Build files
build/*
dist/*

# Log files
debug.log
