altgraph==0.17.2
google-oauth-wrapper==0.1.1
httplib2==0.20.4
macholib==1.16
oauth2client==4.1.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
pyparsing==3.0.9
rsa==4.8
six==1.16.0
